
<div class="view">
    <div id="container" >
                  
    </div>
   
    <div id="formcontainer">
        <form>
            <p class="formcontainer-font">Welcome to</p>
            <p>Exp.o <span>Hive</span></p>
            <br>
            <p>Enter the login credential</p>
            <div class="card flex justify-content-center">
                <input type="text" pInputText [(ngModel)]="value" placeholder="Username"/>
            </div>
            <div class="card flex justify-content-center">
                <input type="text" pInputText [(ngModel)]="value" placeholder="Password" />
            </div>
            <a href=""> your username and password?</a>

        </form>
             
              
    </div>


</div>
